body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    color: black;
   
}
.about {
    font-family: 'Orbitron', serif;
}
.name {
    font-family: 'Orbitron', serif;
    color:#006A05;
    padding: 10px 6px 0px 4.5px;
    letter-spacing: 2px;
    word-spacing: 5px;
    margin-bottom: .2em;
    font-size: 2em;
}

a:link {
    color:black;
    font-weight: 1000;
    text-decoration: none;
}

a:visited {
    color:black;
}

a:hover {
    color: whitesmoke;
}

.headshot {
    vertical-align: middle;
    height: auto;
    width: 50%;
    float: right;
    margin-right: 30px;
    border-radius: 100%;
}

.aboutMe {
    display: block;
    box-sizing: border-box;
}

.database {
    float: left;
     
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

img {
    height:500px;
}

.namecontainer {
    
}

