html{
    background-color: #004101;
    color: #ffffff;
    font-family: 'Alata', serif;
}
.top{
    margin-top: 30px;
    margin-left: 35px;
    padding: 10px 6px 0px 4.5px;
}
.name {
    letter-spacing: 1px;
    word-spacing: 5px;
    font-size: 2em;
    display: inline-block;
}
.menu{
    float:right;
    display: inline;
}
ul li{
    list-style: none;
    color: #FFFFFF;
    display:inline-block;
    padding: 10px;
    margin-left: 0;
    text-align: top;
    letter-spacing: 1px;
    word-spacing: 5px;
    padding-top: 1px;
}
a:link {
    color:white;
    text-decoration: none;
}
a:visited {
    color:white;
}
.top{
    margin-bottom: 160;
}
.middle{
    font-size: 50
}
