html{
    background-color: #092300;
    color: #FEFFEA;
    font-family: 'Alata', serif;
}
.top{
    margin-top: 30px;
    margin-left: 35px;
    padding: 10px 6px 0px 4.5px;
}
.name {
    letter-spacing: 1px;
    word-spacing: 5px;
    font-size: 2em;
    display: inline-block;
}
.menu{
    float:right;
    display: inline;
    margin-right: 28px;
}
ul li{
    list-style: none;
    color: #FEFFEA;
    display:inline-block;
    padding: 10px;
    margin-left: 0;
    text-align: top;
    letter-spacing: 1px;
    word-spacing: 5px;
    padding-top: 1px;
}
a:link {
    color:#FEFFEA;
    text-decoration: none;
}
a:visited {
    color:#FEFFEA ;
}
.top{
    margin-bottom: 160;
}
.middle{
    margin-left: 35px;
    font-size: 50;
    padding: 10px 6px 0px 4.5px;
    max-width: 875;
}
.who{
    display: inline-block;
    margin-bottom: 35px;
}
.what{
    display: inline-block;
    margin-bottom: 35px;
}
